*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: block;
}
.bar{
    position: absolute;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    left: 1100px;
    top: 0px;
}
input{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: firebrick;
    background: linear-gradient(to right, #fb5283, #562a68);
    border-radius: pointer;
}

main{
    justify-content: space-around;
}
.cont{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 150px;
    
}
.cont h1{
    
    margin: 0;
    color: rgb(0, 0, 0);
}
.cont p{
    color: rgb(0, 0, 0);
}
.cont input{
    color: rgb(255, 255, 255);
    border: 0;
    background-color: #f50dbb;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h3{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 44px;
}
.col-1 p{
    font-size: 16px;
    color: #020102;
    font-weight: 100;
}
.cont img{
    height: 240px;
}

.right {
    position: relative;
    top: -10px;
    left: 0;
  }
  
.img1 {
    position: relative;
    top: 0;
    left: 0;
    border: 0px solid #ece8e8;
  }
  
.below{
    justify-content: space-around;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    margin: 4px 2px;
    cursor: pointer;

 }

.img2 {
    position: absolute;
    top: 5px;
    left: 10px;
    border: 0px solid #000000;
  }

.container{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    border: 0cm;
}
.product{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    border: 0cm;
}

/* Product */

.gallery{
    counter-reset: Serial;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 10px 28px #fffcfcd7,  0 10px 10px #968b8bd7;
}

.content :hover{
    box-shadow: 0 3px 6px #d60606d7, 
    0 3px 6px #d60606d7;
    transform: translate(0px, -8px);
}
.img-1{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;

}
p{
    text-align: center;
    color: #f50dbb;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: #000000;
    margin: 0;

}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;

}
li{
    padding-top: 5px;

}
.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
/* HOme */
.popular-collection{
    height: 1662px;
    width: 1047px;
    padding-left: 230px;
}

.popular-collection img{
    width: 300px;
    
}
.popular-collection h1{
    text-align: center;
    font-size: 28px;
    font-weight: 600px;
}
.price{
    font-size: 24px;
    font-weight: 400;
    ;
}

.star{
    display:flex;
    justify-content: space-around;
    width: 122px;
    padding-left: 14px;
}
/* Footer */

#footer {
    background: #310d4e;
    padding: 100px; 
}
.row {
    text-align: center;
    color: #ece8e8;
    
}
.container{
    color: aqua;
    border: 4px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    position: below;
                
}
.container a{
    color: #ece8e8;
}

a{
    text-decoration: none;
}

